$blue-palette: (
  25: #FFFFFF,
  50: #E7EBFC,
  100: #CFD6FA,
  200: #B7C2F7,
  300: #9FADF5,
  400: #6E84EF,
  500: #3E5BEA,
  600: #0E32E5,
  700: #0B28B7,
  800: #081E89,
  900: #06145C,
  contrast: (50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  ),
);

$green-palette: (
  25: #F6FEF9,
  50: #ECFDF3,
  100: #D1FADF,
  200: #A6F4C5,
  300: #6CE9A6,
  400: #32D583,
  500: #12B76A,
  600: #039855,
  700: #027A48,
  800: #05603A,
  900: #054F31,
  contrast: (50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  ),
);

$red-palette: (
  25: #FFFBFA,
  50: #FEF3F2,
  100: #FEE4E2,
  200: #FECDCA,
  300: #FDA29B,
  400: #F97066,
  500: #F04438,
  600: #D92D20,
  700: #B42318,
  800: #912018,
  900: #7A271A,
  contrast: (50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  ),
);

$white-palette: (
  50: #FFFFFF,
  100: #FFFFFF,
  200: #FFFFFF,
  300: #FFFFFF,
  400: #FFFFFF,
  500: #FFFFFF,
  600: #FFFFFF,
  700: #FFFFFF,
  800: #FFFFFF,
  900: #FFFFFF,
  contrast: (50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: black,
    400: black,
    500: black,
    600: black,
    700: black,
    800: black,
    900: black,
  ),
);
