body {

  ::-webkit-scrollbar {
    display: none;
  }

  ::-webkit-scrollbar:hover {
    display: none;
  }

  ::-webkit-scrollbar-thumb {
    display: none;
  }

  ::-webkit-scrollbar-thumb:active {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */

    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */

}
