// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// SCSS Variables
@import 'var';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($c-zone-theme);
@include mat.progress-spinner-color($progress-spinner-theme);

/* You can add global styles to this file, and also import other style files */
@import './tailwind.scss';

@import "partials/default";
@import 'partials/scrollbar';

html {
  box-sizing: border-box;
  font-size: 14px;
  height: 100%;

  @media (max-width: 768px) {
    font-size: 15px;
  }

  @media (max-width: 576px) {
    font-size: 13px;
  }
}

body {
  height: 100%;
  margin: 0;
  font-family: theme('fontFamily.sans');
  color: theme('colors.gray.500');
  font-size: 14px;
  font-weight: theme('fontWeight.normal');
  line-height: theme('lineHeight.normal');

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  box-sizing: border-box;
}
